{% extends 'base.html.twig' %}

{% block title %}Hello CreationProduitController!{% endblock %}

{% block body %}
    <div class="container">
        {{ form(creationproduitform) }}
    </div>
{% endblock %}
