{% extends 'base.html.twig' %}

{% block title %}Compte utilisateur{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}

        <h1 class="TitreCategorie">Mon compte {{app.user.username}}</h1>


        {{ form(formUser) }}
        {{ form(formPass) }}

    </div>
{% endblock %}